/* src/components/Nav/Nav.css */

.navbar {
  background-color: #1e1e1e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-brand {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.signin-button,
.login-button,
.cart-button {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.cart-button {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.logout-button:hover {
  background-color: darkred;
}
